<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/asharjil/Desktop/API_Product/ProductWeek_API">
        <classes>
            <class name="baseClass.BaseClass">
                <methods>
                    <include name="setupAdminLogin"/>
                </methods>
            </class>
            <class name="DeleteCalls.DeleteUser">
                <methods>
                    <include name="deleteUser"/>
                </methods>
            </class>
            <class name="GetCalls.GetManagerWithProjectId">
                <methods>
                    <include name="validateSC"/>
                    <include name="validateEmail"/>
                    <include name="validateId"/>
                </methods>
            </class>
            <class name="GetCalls.GetProject">
                <methods>
                    <include name="validateSC"/>
                    <include name="checkProjectID"/>
                    <include name="checkProjectName"/>
                    <include name="checkProjectStatus"/>
                </methods>
            </class>
            <class name="GetCalls.GetUserWithProjectId">
                <methods>
                    <include name="validateSC"/>
                    <include name="validateEmail"/>
                    <include name="getUsersName"/>
                </methods>
            </class>
            <class name="PostCalls.PostProfilePicUpdate">
                <methods>
                    <include name="postProfilePic"/>
                </methods>
            </class>
            <class name="PostCalls.SignInAsUser">
                <methods>
                    <include name="setupUserLogin"/>
                </methods>
            </class>
            
        </classes>
    </test>
</suite>